# Compiled source files
*.dll
*.exe
*.so
*.dylib
*.pdb
*.mdb
*.cache
*.ilk
*.log
*.userosscache
*.resources

# Intermediate files
obj/
bin/
*.rsuser
*.suo
*.user
*.userprefs

# Build folders (can be generated during build or restore)
# Comment the line below if you have team-specific project .json, .props or .targets files in these folders
[Bb]uild/
[Bb]uildArtifacts/

# Logs
*.log
*.tlog
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config

# Resharper
_ReSharper*/
*.DotSettings.user

# Azure DevOps
# Uncomment if using Project Deployment with DevOps
#  publish
